*.gguf filter=lfs diff=lfs merge=lfs -text
resources/models/*.bin filter=lfs diff=lfs merge=lfs -text
resources/models/sherpa-onnx-nemo-parakeet-tdt-0.6b-v2-int8/*.onnx filter=lfs diff=lfs merge=lfs -text
